Django
python-decouple
dj-database-url
django-extensions
easy-thumbnails
django-filer
django-mptt
django-cors-headers
djangorestframework
django-filter
django-import-export
django-crispy-forms
crispy-bootstrap5
whitenoise
Pillow
psycopg2-binary
redis
django-debug-toolbar
django-storages
boto3
flake8
pytest
pytest-django
