Django==5.2
django-extensions
easy-thumbnails
django-mptt
django-cors-headers
djangorestframework
django-filter
django-import-export
django-crispy-forms
crispy-bootstrap5
django-widget-tweaks
dj-database-url
python-decouple
Pillow
bleach
pytest-django
icalendar
django-grappelli
django-filer
whitenoise
redis
qrcode
pytz
psycopg2-binary
sentry-sdk
django-storages[boto3]
django-debug-toolbar
weasyprint
