{% extends "home/base.html" %}
{% load static %}

{% block title %}<title>{{ client.company_name }} - Efforts</title>{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'client:dashboard' %}">Client Management</a></li>
<li class="breadcrumb-item"><a href="{% url 'client:list' %}">Directory</a></li>
<li class="breadcrumb-item"><a href="{{ client.get_absolute_url }}">{{ client.company_name }}</a></li>
<li class="breadcrumb-item active">Efforts</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="h3 mb-4">{{ client.company_name }} - Efforts</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Project</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th class="text-end">Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for item in effort_list %}
      <tr>
        <td>{{ item.description }}</td>
        <td>{{ item.project }}</td>
        <td>{{ item.assigned_to }}</td>
        <td>{{ item.get_status_display }}</td>
        <td class="text-end">{{ item.progress_percent }}%</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No efforts for this client.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
