{% extends "home/base.html" %}

{% block title %}Project details{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'location:location-list' %}">Location</a></li>
<li class="breadcrumb-item"><a href="{% url 'project:project-list' %}">Project</a></li>
<li class="breadcrumb-item active">detail view</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header" style="background-color:rgb(233, 236, 239);">
        <div class="row">
          <div class="col-lg-12">
            <h4>{{ project.name }} : {{ project.job_number }}{% if project.revision %}-{{ project.revision }}{% endif %}</h4>
          </div>
          <div class="col-lg-12">
            {% if request.user.is_staff %}
              <a href="{% url 'project:project-pdf' project.job_number %}"><div class="add_jobsite"> Quote </div></a>&nbsp;<a href="{% url 'project:project-edit' project.job_number %}"><div class="add_jobsite"> edit </div></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body {% if project.status == 'p' %}statusProspect
                          {% elif project.status == 'q' %}statusQuoted
                          {% elif project.status == 'o' %}statusInstalling
                          {% elif project.status == 'c' %}statusComplete
                          {% elif project.status == 's' %}statusService
                          {% elif project.status == 't' %}statusTm
                          {% elif project.status == 'm' %}statusPaid
                          {% elif project.status == 'i' %}statusInvoiced
                          {% else %}statusLost{% endif %}">
        <strong>Project status: {{ project.get_status_display }} </strong>
        {% if project.status != 'c' %} - <strong>Due date:</strong> {{ project.due_date }}{% endif %}
      </div>
      <div class="card-body" style="background-color:rgb(217, 237, 248);">
        <div style="float:left">
          <strong><a href="{{ project.primary_location.get_absolute_url }}">
              {{ project.primary_location }}</a></strong> -
            (<a href="{{ project.primary_location.client.get_absolute_url }}">
              {{ project.primary_location.client }}</a>)
            <br>
          <a href="{{ project.primary_location.google_maps_url }}">
            <h6>{{ project.primary_location.primary_address.line1 }}<br>
            {{ project.primary_location.primary_address.city }}, {{ project.primary_location.primary_address.state_province }} {{ project.primary_location.primary_address.postal_code }}</h6>
          </a>
        </div>
        {% if project.primary_location.latitude and project.primary_location.longitude %}<div id="map" style="width:100%;height:320px"></div>{% endif %}
        <div style="float:left">
              <strong>Date Requested:</strong> {{ project.date_requested }}<br>
              <strong>Due date:</strong> {{ project.due_date }}<br>
              <strong>Date of completion:</strong> {{ project.completed_date }}
        </div>
      </div>
      <hr class="my-0">
      <div class="card-footer small text-muted" style="background-color:rgb(41, 41, 41);">
        - Date Modified {{ project.modified_at }}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header" style="background-color:rgb(0, 119, 255);">
          <div class"row">
            <b>Scope of work:</b>
            {% if request.user.is_staff %}
              <a href="{% url 'project:scope-create' job_number=project.job_number %}"><div class="add_jobsite"> + add </div></a>
            {% endif %}
          </div>
      </div>
      <div class="card-body">
        {% if scope_list %}
          {% for scope in scope_list %}
            <a id="link" href="{% url 'project:scope-detail' scope.id %}"><b>{{ scope.area }}</b></a> - {{ scope.system_type }}
            <ul>
              {% if task_list %}
                {% for tasklist in task_list %}
                  {% if tasklist.scope == scope %}
                    <li><a id="link" href="{% url 'todo:list_detail' tasklist.id tasklist.slug %}">{{ tasklist.name }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          {% endfor %}
          {% else %}
          There are no scopes to list.
        {% endif %}
        {{ project.scope_overview }}
        </p>
        <p class="text-muted"><strong>Install overview:</strong>
          {{ project.description }}
        </p>
        <p class="text-muted"><strong>Price Policy:</strong>
          {{ project.pricing_disclaimer }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header" style="background-color:rgb(0, 119, 255);"><b>Scheduled Work</b>
        {% if request.user.is_staff %}
          <a href="{% url 'create-event' proj=project.job_number %}"><div class="add_jobsite"> + add work</div></a>
        {% endif %}
      </div>
      {% if scheduling_event_list %}
        {% for event in scheduling_event_list %}
        <a style="color:black;" href="{{ event.get_absolute_url }}">
        <div class="statusLost" style="background-color:{{ event.color_event }};">
          <table>
            <tr>
              <td>{{ event.start|date:"M d" }}, </td><td> {{ event.title|truncatechars:28 }} </td><td>( {{ event.lead }} )</td>
            </tr>
          </table>
        </div> </a>
        {% endfor %}
      {% endif %}
      </div>
      <div class="card mb-3">
        <div class="card-header"><b>Devices</b>
          {% if request.user.is_staff %}
            <a href="{% url 'project:device-create' job_number=project.job_number %}"><div class="add_jobsite"> + add</div></a>
          {% endif %}
        </div>
        {% if devicelist %}
        <div class="card-body">
          <table width="100%">
            {% for key, value in devicelist.items %}
            <tr width="100%">
              <td width="90%"><a href="{% url 'project:device-detail' key.id %}"> {{ key.general_disc }}</a></td>
              <td>
                - {{ value }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>

      <div class="card mb-3">
        <div class="card-header"><b>Hardware</b>
          {% if request.user.is_staff %}
            <a href="{% url 'project:hardware-create' job_number=project.job_number %}"><div class="add_jobsite"> + add</div></a>
          {% endif %}
        </div>
        {% if hardware_mate_list %}
        <div class="card-body">
          <table>
            {% for hardware in hardware_mate_list %}
            <tr width="100%">
              <td width="70%"><a href="{% url 'project:hardware-detail' hardware.pk %}"> {{ hardware.hardware.general_disc }}</a></td>
              <td>
                {{ hardware.qty }}
                {% if request.user.is_staff and request.user.is_superuser %}
                  - <a href="{% url 'project:hardware-edit' hardware.pk %}">edit</a> - ${{ hardware.total }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      <div class="card mb-3">
        <div class="card-header"><b>Software</b>
          {% if request.user.is_staff %}
            <a href="{% url 'project:software-create' job_number=project.job_number %}"><div class="add_jobsite"> + add</div></a>
          {% endif %}
        </div>
        {% if software_mate_list %}
        <div class="card-body">
          <table>
            {% for software in software_mate_list %}
            <tr width="100%">
              <td width="70%"><a href="{% url 'project:software-detail' software.pk %}"> {{ software.software.general_disc }}</a></td>
              <td>
                {{ software.qty }}
                {% if request.user.is_staff and request.user.is_superuser %}
                  - <a href="{% url 'project:software-edit' software.pk %}">edit</a> - ${{ software.total }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      <div class="card mb-3">
        <div class="card-header"><b>License</b>
          {% if request.user.is_staff %}
            <a href="{% url 'project:license-create' job_number=project.job_number %}"><div class="add_jobsite"> + add</div></a>
          {% endif %}
        </div>
        {% if license_mate_list %}
        <div class="card-body">
          <table>
            {% for license in license_mate_list %}
            <tr width="100%">
              <td width="70%"><a href="{% url 'project:license-detail' license.pk %}"> {{ license.license.general_disc }}</a></td>
              <td>
                {{ license.qty }}
                {% if request.user.is_staff and request.user.is_superuser %}
                  - <a href="{% url 'project:license-edit' license.pk %}">edit</a> - ${{ license.total }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      <div class="card mb-3">
        <div class="card-header"><b>Travel</b>
          {% if request.user.is_staff %}
            <a href="{% url 'project:travel-create' job_number=project.job_number %}"><div class="add_jobsite"> + add</div></a>
          {% endif %}
        </div>
        {% if travel_mate_list %}
        <div class="card-body">
          <table>
            {% for travel in travel_mate_list %}
            <tr width="100%">
              <td width="70%"><a href="{% url 'project:travel-detail' travel.pk %}"> {{ travel.travel_name }}</a></td>
              <td>
                {{ travel.qty }}
                {% if request.user.is_staff and request.user.is_superuser %}
                  - <a href="{% url 'project:travel-edit' travel.pk %}">edit</a> - ${{ travel.total }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      <div class="card mb-3">
        <div class="card-header"><b>Time</b></div>
        <div class="card-body">
            <ul>
                <li>Time Allotted: {% if allocated_time_total %}{{ allocated_time_total|floatformat:2 }}{% if request.user.is_staff and request.user.is_superuser %} - ${{ time_cost|floatformat:2 }}{% endif %}{% else %}Add time in a task.{% endif %}</li>
                <li>Time Scheduled: {% if event_time %}{{ event_time|floatformat:2 }}{% if request.user.is_staff and request.user.is_superuser %} - ${{ scheduled_cost|floatformat:2 }}{% endif %}{% else %}Schedule a worker.{% endif %}</li>
                <li>Time Spent: {% if overall_hours %}{{overall_hours|floatformat:2}}{% if request.user.is_staff and request.user.is_superuser %} - ${{ used_cost|floatformat:2 }}{% endif %}{% else %}no worker clocked into this site yet.{% endif %}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function myMap() {
    var myCenter = new google.maps.LatLng({{ project.primary_location.latitude }}, {{ project.primary_location.longitude }});
    var mapCanvas = document.getElementById("map");
    var mapOptions = {center: myCenter, zoom: 16,
      styles: [
        {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
        {
          featureType: 'administrative.locality',
          elementType: 'labels.text.fill',
          stylers: [{color: '#d59563'}]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{color: '#d59563'}]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{color: '#263c3f'}]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{color: '#6b9a76'}]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [{color: '#38414e'}]
        },
        {
          featureType: 'road',
          elementType: 'geometry.stroke',
          stylers: [{color: '#212a37'}]
        },
        {
          featureType: 'road',
          elementType: 'labels.text.fill',
          stylers: [{color: '#9ca5b3'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{color: '#746855'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry.stroke',
          stylers: [{color: '#1f2835'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.fill',
          stylers: [{color: '#f3d19c'}]
        },
        {
          featureType: 'transit',
          elementType: 'geometry',
          stylers: [{color: '#2f3948'}]
        },
        {
          featureType: 'transit.station',
          elementType: 'labels.text.fill',
          stylers: [{color: '#d59563'}]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{color: '#17263c'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{color: '#515c6d'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.stroke',
          stylers: [{color: '#17263c'}]
        }
      ]
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC_8mf34uW13LKTM1fKekn_xL7w_socHE&callback=myMap"></script>
{% endblock %}
