{% extends "business/base_business.html" %}

{% block business_title %}Business Setup - Step 1{% endblock %}

{% block business_breadcrumb %}
<li class="breadcrumb-item active">Setup Step 1</li>
{% endblock %}

{% block business_content %}
<h1 class="mb-4">Select Business Type</h1>
<ul class="list-group">
    {% for bt in business_types %}
    <li class="list-group-item">
        <a href="{% url 'business:setup-wizard' %}?step=2&amp;business_type={{ bt.slug }}">{{ bt.icon }} {{ bt.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
