{% extends "home/base.html" %}

{% block title %}Delete time card{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'timecard' %}">Time card</a></li>
<li class="breadcrumb-item active">Time card / TODAY IS {{ tadai }}</li>
{% if request.user.is_staff %}
<li class="breadcrumb-item"><a href="{% url 'create-timecard' %}">add a new day</a></li>
{% endif %}
{% endblock %}

{% block content %}

{% if request.user.is_admin %}
<div class="col-lg-4">
  <div class="card mb-3">
    <div class="card-header" style="background-color:rgb(0, 119, 255);">
      <h3>Delete Time Card info</h3> 
    </div>
    <form class="form-control" method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <input style="margin-bottom: 10px;" class="btn btn-primary btn-block" type="submit" value="Confirm">
  </form>
  </div>
</div>
{% else %}
You're not allowed to view this page.
{% endif %} 
{% endblock %} 
