{% load scheduletags %}
<div>
  {% if day.has_occurrences %}
      {% for o in day.get_occurrence_partials %}
              <a class="btn btn-primary btn-lg" href="{{ o.occurrence.event.get_absolute_url }}">

                  <div class="starttime">
                      {% if o.class == 0 %}{{ o.occurrence.start|time:"G:i" }}{% endif %}
                      {% if o.class == 1 %}{{ o.occurrence.start|time:"G:i" }}{% endif %}
                      {% if o.class == 2 %}(All day){% endif %}
                      {% if o.class == 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endif %}
                  </div>
                  <div class="eventdesc">
                      {% title o.occurrence %}
                  </div>
              </a>
      {% endfor %}
  {% endif %}
</div>
