{% extends "home/base.html" %}
{% load i18n %}

{% block title %}{% trans "Calendar metadata" %}{% endblock %}


{% block content %}

<h1>{% trans "Calendar metadata" %}</h1>

<p>{% trans "Name:" %} {{calendar_name}} </p>
<p>{% trans "Slug:" %} {{calendar_slug}} </p>
<p>{% trans "Event count:" %} {{events_count}} </p>

<div>
    <p>{% trans "View" %}</p>
    <ul>
        <li><a href="{% url 'schedule:calendar-detail' calendar.slug %}">{% trans "Calendar Overview" %}</a></li>
    </ul>
</div>

<div><i>{% trans "Now see docstring for schedule.views.calendar" %}</i></div>

{% endblock %}
